/*  폰트 적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
}

/* 노말라이즈 */
body, ul, li, p {
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}

a {
    color:inherit;
    text-decoration:none;
    display:block;
}

* {
    box-sizing: border-box;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    height: 100%;
    display:block;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
}

.cell-right {
    float:right;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

/* -------------------------------------------------------- */

.wrap {
    width: 100%;
    max-width: 80%;
}

.header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 3;
    padding: 5vh 10vw;
}

.hea_inner {
    width: 100%;
    height: 60px;
    position: relative;
}

.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.logo > a {
    width: 160px;
    height: 50px;
}
.menu {
    width: 80%;
    height: 100%;
    float: right;
}
.list{
    float: right;
}
.list > a {
    float: left;
}

.list1 {
    margin-right: 60px;
    color: #000000;
    font-size: 2em;
}

.list1.active {
    color: #000000;
}


.hidden_menu {
    width: 50%;
    height: 100%;
    background: #E6E6E6;
    position: fixed;
    right: 0;
    z-index: 3;
    display: none;
}
.hidden_menu.active {
    display: block;
}

.list2 {
    width: 100%;
    height: 80%;
    padding: 150px 150px 0;
}

.list2 ul li {
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.list2 ul li:hover::after {
    content: '';
    width: 12vw;
    border: 10px solid #FFD800;
    position: absolute;
    left: 3vw;
    bottom: 0.5vw;
    z-index: -1;
}

.list2_etc {
    width: 100%;
    height: 20%;
    padding: 30px 8vw;
}

.list2_etc > button {
    border: none;
    margin-right: 1.4vw;
    cursor: pointer;
    background: none;
}

.list2_etc > span {
    float: right;
    margin-top: 25px;
}

/* -------------------------------------------------------- */

.content {
    padding-top: 15vh;
    padding-left: 8vw;
}

.title {
    color: #FFD800;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 40px;
}

.sub_title {
    font-size: 1.1vw;
    margin-bottom: 40px;
}

.location {
    position: relative;
    margin-bottom: 20vh;
}

.t1 {
    font-size: 1.6vw;
    font-weight: bold;
    color: #FFD800;
}

.map {
    max-width: 50vw;
}

.address{
    font-size: 1.2vw;
    margin-bottom: 20px;
}
.tell > span{
    font-size: 1.3vw;
}
.tell > span:first-child {
    font-weight: bold;
}

.Inquire {
    position: relative;
}

.t2 {
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
}

.check_box {
    padding: 3vh 6vw;
}

.tt1 {
    font-size: 1.8vw;
    font-weight: bold;
}
.tt2 {
    font-size: .8vw;
    padding-left: 1vw;
    color: #999999;
}

.bx {
    width: 100%;
    height: 23vh;
    padding: 30px 30px;
}
.box1 .bx ul li {
    width: 25%;
    float: left;
    font-size: 1vw;
    height: 7vh;
    line-height: 7vh;
}
.bx ul li span {
    vertical-align: middle;
}
input[type="text"] {
    padding: 8px 70px 8px 5px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 7vh;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #FFD800;
    border-color: rgba(255, 255, 255, 0.3);
}

.bx ul li:nth-of-type(5) {
    width: 10%;
}
.bx ul li:nth-of-type(6) {
    width: 50%;
}
.bx ul li:nth-of-type(6) input {
    padding-right: 4vw;
}
.box2 > .bx input, span{
    vertical-align: middle;
}
.box2 > .bx span:nth-of-type(1) {
    font-size: 1vw;
    margin: 0 20px 0 10px;
}
.box2 > .bx span:nth-of-type(2) {
    font-size: 1vw;
    margin-left: 20px;
}
.box2 > .bx > div {
    margin-top: 20px;
}
.box3 .bx {
    height: 51vh;
}
.box3 .bx ul li {
    width: 50%;
    float: left;
    padding: 0 20px 40px;
    font-size: 1vw;
    position: relative;
}

.box3 .bx ul li input {
    width: 100%;
    font-size: 1vw;
    border: none;
    border-bottom: 1px solid #999999;
    padding: 0 1vw 10px;
}

.box3 .bx ul li input:focus {
    outline: none;
}

.box3 .bx ul li:nth-of-type(5) {
    width: 100%;
    padding: 0 0 10px 40px;
}

.box3 .bx ul li:nth-of-type(6) {
    width: 100%;
    height: 5vh;
}

.box3 .bx ul li:nth-of-type(6) > input {
    width: 100%;
    height: 20vh;
    border: 1px solid #999999;
}

.box3 .bx ul li:nth-of-type(1):after {
    content: '*';
    color: #FF0000;
    position: absolute;
    top: 0;
    left: 8.4vw;
}
.box3 .bx ul li:nth-of-type(3):after {
    content: '*';
    color: #FF0000;
    position: absolute;
    top: 0;
    left: 6vw;
}
.box3 .bx ul li:nth-of-type(4):after {
    content: '*';
    color: #FF0000;
    position: absolute;
    top: 0;
    left: 5vw;
}
.box3 .bx ul li.click::after {
    content: none;
}
.con_bt {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 100px;
}
.agree {
    margin-bottom: 50px;
}
.agree span{
    font-size: 1vw;
}
.agree span:first-of-type {
    color: #FF0000;
}

.con_bt button {
    padding: 20px 60px;
    background: #FFD800;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 1.4vw;
    font-weight: bold;
}

.footer {
    position: relative;
    width: 100%;
    background: #333333;
    height: 20vh;
    padding: 6vh 10vw;
    float: left;
}
.foot_logo {
    width: 10vw;
    margin-right: 3vw;
    float: left;
}
.foot_txt {
    color: #ffffff;
    width: 40vw;
    height: 100%;
    line-height: 2vh;
    float: left;
}

#a1 {
    margin-right: 40px;
}

#a2 {
    margin-right: 30px;
}
#a3 {
    padding-right: 30px;
}
.foot_txt2 {
    float: right;
    padding-top: 4vh;
    text-align: right;
    line-height: 2vh;
}
.foot_txt2 > span {
    color: #ffffff;
}
.foot_txt2 > p {
    color: #666666;
}