<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNOVATION - T</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/info_custom.js"></script>
    <link rel="stylesheet" href="css/info_style.css">
    <link rel="stylesheet" href="css/menu_bt.css">

</head>
<body>
    <div class="wrap margin-0-auto">
        <div class="hidden_menu">
            <div class="list2">
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">WORKS</a></li>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="list2_etc">
                <button id="down">
                    <img src="img/menu1.png" alt="#">
                </button>
                <button id="login">
                    <img src="img/menu2.png" alt="#">
                </button>
                <span>COPYRIGHT INNOVATION-T COOPERATION. ALL RIGHT RESERVED.</span>
            </div>
        </div>
        <div class="header">
            <div class="hea_inner">
                <div class="logo">
                    <a href="#" class="img-box"><img src="img/black_logo.png" alt="logo"></a>
                </div>
                <div class="menu">
                    <div class="list cell-right">
                        <a href="#" class="list1">
                            <span>프로젝트 의뢰</span>
                        </a>
                        <a class="menu-trigger" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info_top">
                <div class="first_img img-box">
                </div>
                <div class="info_sub">
                    <ul>
                        <li>
                            <div class="project">
                                <p>PROJECT</p>
                                <p id="project"></p>
                            </div>
                        </li>
                        <li>
                            <div class="type">
                                <p>TYPE</p>
                                <p id="type"></p>
                            </div>
                        </li>
                        <li>
                            <div class="client">
                                <p>CLIENT</p>
                                <p id="client"></p>
                            </div>
                        </li>
                        <li>
                            <div class="make">
                                <p>MAKE</p>
                                <p id="make"></p>
                            </div>
                        </li>
                        <li>
                            <div class="concept">
                                <p>CONCEPT</p>
                                <p id="concept"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info_main">
                <div class="info_img img-box">
                </div>
            </div>
        </div>
        <div class="bton">
            <button id="bt1">리스트로 돌아가기</button>
            <button id="bt2">메인으로 가기</button>
        </div>


        <div class="footer">
            <div class="foot_logo img-box">
                <img src="img/Logo.png" alt="#">
            </div>
            <div class="foot_txt">
                <p>이노베이션티(주)</p>
                <span id="a1">대표자 : 최종인 이원경</span>
                <span>사업자등록번호  582-86-01581</span><br>
                <span id="a2">주소 대전광역시 서구 관저북로 25 월드상가 401호</span>
                <span>지점 서울시 강남구 강남대로 94길 28 유니언타운 강남 701호</span>
            </div>
            <div class="foot_txt2">
                <span id="a3">이용약관</span>
                <span>개인정보처리방침</span>
                <p>COPYRIGHT ⓒ INNOVATION-T COOPERATION.ALL RIGHT RESERVED.</p>
            </div>
        </div>
    </div>
</body>
</html>