<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNOVATION - T</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu_bt.css">

</head>
<body>
    <div class="wrap margin-0-auto">
        <div class="hidden_menu">
            <div class="list2">
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">WORKS</a></li>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="list2_etc">
                <button id="down">
                    <img src="img/menu1.png" alt="#">
                </button>
                <button id="login">
                    <img src="img/menu2.png" alt="#">
                </button>
                <span>COPYRIGHT INNOVATION-T COOPERATION. ALL RIGHT RESERVED.</span>
            </div>
        </div>
        <div class="header">
            <div class="hea_inner">
                <div class="logo">
                    <a href="#" class="img-box"><img src="img/black_logo.png" alt="logo"></a>
                </div>
                <div class="menu">
                    <div class="list cell-right">
                        <a href="#" class="list1">
                            <span>프로젝트 의뢰</span>
                        </a>
                        <a class="menu-trigger" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="team_title">
                <div class="title">
                    <span>Team</span>
                </div>
                <div class="sub_title">
                    <span>소통이 있는 장소 이노베이션티(주)</span>
                </div>
            </div>
            <div class="team_act img-box">
                <div class="te_txt"><span>Team activities</span><br>
                    <span>소통이 있는 장소 이노베이션티(주)</span>
                </div>
            </div>
            <div class="list6">
                <p>최신글</p>
                <ul>
                    <li><span>전체</span></li>
                    <li><span>우수사원</span></li>
                    <li><span>생일자</span></li>
                    <li><span>워크숍</span></li>
                    <li><span>사내교육</span></li>
                    <li><span>사내 시설</span></li>
                    <li><span>기타 활동</span></li>
                </ul>
            </div>
            <div class="team_event">
                <ul>
                    <li>
                        <div class="event_list ev1">
                            <img src="img/team1.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>2021년 12월 21일</p>
                            <p>생일파티</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev2">
                            <img src="img/team2.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>10월</p>
                            <p>우수사원 수상</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev3">
                            <img src="img/team3.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>이노베이션티</p>
                            <p>사원증 제작</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev4">
                            <img src="img/team4.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>9월</p>
                            <p>우수사원 수상</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev5">
                            <img src="img/team5.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>8월</p>
                            <p>우수사원 수상</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev6">
                            <img src="img/team6.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>단양 워크숍</p>
                            <p>경품 당첨자 수여식</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev7">
                            <img src="img/team7.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>2021년 추석</p>
                            <p>우수사원 포상</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                    <li>
                        <div class="event_list ev8">
                            <img src="img/team8.png" alt="#">
                            <p>INNOVATION-T</p>
                            <p>이노베이션티</p>
                            <p>제주도 워크숍</p>
                            <p>2021-00-00</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="plus">
                <p class="img-box"><img src="img/plus1.png" alt="#"></p>
                <p class="img-box"><img src="img/plus2.png" alt="#"></p>
            </div>
        </div>
        <div class="footer">
            <div class="foot_logo img-box">
                <img src="img/Logo.png" alt="#">
            </div>
            <div class="foot_txt">
                <p>이노베이션티(주)</p>
                <span id="a1">대표자 : 최종인 이원경</span>
                <span>사업자등록번호  582-86-01581</span><br>
                <span id="a2">주소 대전광역시 서구 관저북로 25 월드상가 401호</span>
                <span>지점 서울시 강남구 강남대로 94길 28 유니언타운 강남 701호</span>
            </div>
            <div class="foot_txt2">
                <span id="a3">이용약관</span>
                <span>개인정보처리방침</span>
                <p>COPYRIGHT ⓒ INNOVATION-T COOPERATION.ALL RIGHT RESERVED.</p>
            </div>
        </div>
    </div>
</body>
</html>